@model BookStore.Models.Book

@{
    ViewData["Title"] = "Delete";
}

<h1>Kitap Sil</h1>

<div>
    <h5>@Model.Name</h5>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PageNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PageNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Point)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Point)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rating)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DiscountRate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DiscountRate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SoldNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SoldNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Publisher)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Publisher.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author.Name)
        </dd>
    </dl>
    <h5>Kitabı silmek istediğinizden emin misiniz?</h5>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Sil" class="btn btn-outline-dark" /> |
        <a asp-action="Index" class="btn btn-outline-dark">Kitaplara Geri Dön</a>
    </form>
</div>
