@model BookStore.Models.Author

@{
    ViewData["Title"] = "Yazar Sil";
}

<h1>Yazarı Sil</h1>
<div>
    <h4>@Model.Name</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
    </dl>
    <h5>Bu yazarı silmek istediğinizden emin misiniz?</h5>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Sil" class="btn btn-outline-dark" /> |
        <a asp-action="Index" class="btn btn-outline-dark">Yazarlara Geri Dön</a>
    </form>
</div>
