<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Kitap Mağazası </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Kitap Mağazası</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                    <ul class="navbar-nav">
                        <div class="dropdown">
                            <button class="btn btn-outline-dark dropdown-toggle mr-2" type="button" data-toggle="dropdown">
                                Kategori
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a>@await Component.InvokeAsync("Menu") </a></li>
                            </ul>
                        </div>

                        <div class="dropdown">
                            <button class="btn btn-outline-dark dropdown-toggle mr-2" type="button" data-toggle="dropdown">
                                Yayınevi
                                <span class="caret"></span>
                            </button>

                            <ul class="dropdown-menu">
                                @{
                                    if (ViewBag.PublisherList != null)
                                        foreach (var publisher in @ViewBag.PublisherList)
                                        {
                                            <li><a href="/" dropdown-item">@publisher.Name</a></li>
                                        }
                                }
                            </ul>
                        </div>
                        <div class="dropdown">
                            <button class="btn btn-outline-dark dropdown-toggle mr-2" type="button" data-toggle="dropdown">
                                Yazar
                                <span class="caret"></span>
                            </button>

                            <ul class="dropdown-menu">
                                @{
                                    if (ViewBag.PublisherList != null)
                                        foreach (var author in @ViewBag.AuthorList)
                                        {
                                            <li><a href="/" class="dropdown-item">@author.Name</a></li>
                                        }
                                }
                            </ul>
                        </div>
                        <div class="dropdown">
                            <button class="btn btn-outline-dark dropdown-toggle mr-2" type="button" data-toggle="dropdown">
                                Ayarlar
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="/Categories" class="dropdown-item">Kategoriler</a></li>
                                <li><a href="/Authors" class="dropdown-item">Yazarlar</a></li>
                                <li><a href="/Publishers" class="dropdown-item">Yayınevleri</a></li>
                                <li><a href="/Books1" class="dropdown-item">Kitaplar</a></li>
                            </ul>
                        </div>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            <div>@RenderBody()</div>
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - BookStore - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="content/js/jquery.min.js"></script>
    <script src="content/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.dropdown-toggle').dropdown();
        });
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
